In [ ]:
import numpy as np #pandas dependency
import pandas as pd

In [13]:
#df= pd.DataFrame(np.random.randn(7, 3), columns=['A', 'B', 'C'])
df=pd.DataFrame([{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}])
df

   a   b     c
0  1   2   NaN
1  5  10  20.0

Created Dataframe. Use Randn function to create better

In [4]:
df['a']

0    1
1    5
Name: a, dtype: int64

Access By column name

In [10]:
df[:][:1]

   a  b   c
0  1  2 NaN

Accessing by row. Use iloc,loc function for row. See below

In [14]:
del(df['c'])
df

   a   b
0  1   2
1  5  10

Deleting column

In [16]:
df['c']=[1,2]
df

   a   b  c
0  1   2  1
1  5  10  2

Adding column

In [22]:
df.T.T

   a   b  c
0  1   2  1
1  5  10  2

Transposing

In [23]:
df*5+1

    a   b   c
0   6  11   6
1  26  51  11

Arithmetic Operations

In [26]:
df.head(1)
df.tail(1)

   a   b  c
1  5  10  2

In [28]:
df.values

array([[ 1,  2,  1],
       [ 5, 10,  2]])

Gives the output in array format

In [30]:
df #Check point.

   a   b  c
0  1   2  1
1  5  10  2

In [46]:
df.iloc[1]

a     5
b    10
c     2
Name: 1, dtype: int64

Selecting with row. iloc, loc functions

In [44]:
np.where(df.a == 5)
np.where(df.a == 5)[0]
list(np.where(df.a == 5)[0])

[1]

Finding index of an element

In [48]:
df.drop(df.index[1])

   a  b  c
0  1  2  1

Dropping index

In [ ]:
df.to_csv('location')

Saving dataframe to csv